<!DOCTYPE html>
<html lang="en">

<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '3ecc50973597425379d14440123940de52365411';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Global Aliance - Investment you can trust</title>
  <meta name="description" content="Invest with a firm you can trust!">
  
  <meta name="keywords" content="Global Aliance, Global Aliance, coinprime, investment, online investment"/>
  <meta name="google-site-verification" content="PV-NCz7DEbq-ipZMfeqdFBXTaHavMrJ9dM092qqtZ70" />

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Global Aliance - v2.3.1
  * Template URL: https://bootstrapmade.com/Global Aliance-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
       <a href="index.html"><img src="logo1.png" alt=""></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
      <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
   
          <li><a href="#pricing">Plans</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="login.html">Login</a></li>

          <li class="get-started"><a href="Newa.html">Get Started</a></li>
       
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Invest with a firm you can trust!</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We hire the best traders to serve you better, invest with us today and let your money do all the work.</h2>
          <div data-aos="fade-up" data-aos-delay="800">
               <div id="ytWidget"></div><script src="https://translate.yandex.net/website-widget/v1/widget.js?widgetId=ytWidget&pageLang=en&widgetTheme=dark&autoMode=false" type="text/javascript"></script>
              
            <a href="registration.php" class="btn-get-started scrollto">Get Started</a>
             <a href="global aliance_1_1.0.apk" class="btn-get-started scrollto"><i class="fa fa-download"></i>Download Mobile app</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <div class="modal fade" id="scrollable-modal" tabindex="-1" role="dialog"
    aria-labelledby="scrollableModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scrollableModalTitle">About Global Aliance</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                  Global Aliance is currently managed by a senior team which has extensive experience in the development
                   and implementation of systematic investment strategies. 
                  <p>
                  Global Aliance employs a team of over 130 professionals and invests heavily in the 
                  on-going research-driven evolution of its quantitative alpha-generating systems 
                  and their efficient implementation across a wide range of liquid asset classes. 
                </p> 
                <p>
                  The company emphasizes strong corporate governance and the provision of first class 
                  investor service to a client base which includes many of the world’s leading institutional investors.
                </p>
                <p>
                  Global Aliance is a profitable and Trusted investment program, established by a strong 
                  team of highly skilled traders and investment consultants in the offline and online 
                  investment market. We put your investments in new highly remunerative innovative projects, 
                  which offers great returns along.
                </p>
                <p>
                  Today our company has a professional team to develop a 
                  business. We know how much, where and when to put your investments. And we know how to achieve 
                  maximum income. We are constantly diversifying our investment portfolio and building stronger 
                  connections worldwide.
                </p>
                <p>
                  When one opportunity fails you can rest assured that our strategy of diversification 
                  continues to keep our business profitable and growing. You have the opportunity right now to 
                  join a revolutionary investing opportunity that is sure to continue growing and mature into 
                  the most successful high yield opportunity today
                </p>
                <p>
                  Our Support Department is at your disposal 24
                  hours a day, 7 days a week, All you need to do is to make a deposit using your most convenient
                  payment processor and get in from time to time to withdraw your profit.
                </p>
                <p>
                  We make use of up-to-date anti-hacker technologies, to safely receive your deposit 
                  and pay out profits, Join Global Aliance today and Let your money work for you, If you 
                  have any problems or further questions you are most welcome to contact us through 
                  our contact channels.
                </p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Global Aliance is a fortune 1000 investment firm with offices in USA, Australia, Australiaraine and Russia. We are a dynamic group whose main focus is to provide our clients with the best possible service, We apply a systematic and quantitative approach to investment management, with the aim of generating high-quality and diversifying alpha for its clients’ portfolios.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> High-grade security platform</li>
              <li><i class="ri-check-double-line"></i> 24/7 premium customer support</li>
              <li><i class="ri-check-double-line"></i> Easy to use dashboard</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              The company offers long term and short term investment opportunities, Global Aliance was established in 2016 and it initially began trading stocks, shares and bonds. It was among the pioneer traders of Crypto-currencies in the advent of Bitcoin in 2017 and it got involved in forex trading in 2018
            </p>
            <a href="#" data-toggle="modal"
            data-target="#scrollable-modal" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
   
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>We are actively investing in the following sectors</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-line-chart-down"></i></div>
              <h4 class="title"><a href="">Forex</a></h4>
              <p class="description">The amount of currency converted every day can make price movements of some currencies extremely volatile. It is this volatility that can make forex so attractive to traders: bringing about a greater chance of high profits, while also increasing the risk.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-cookie"></i></div>
              <h4 class="title"><a href="">Agriculture</a></h4>
              <p class="description">Agriculture is a low-risk investment that keeps pace with inflation and increases in value over the long-term.
                Investment  in agriculture is a tangible asset that provides benefit to the community, adding that it can diversify the investor’s portfolio.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-gas-pump"></i></div>
              <h4 class="title"><a href="">Natural Gasses</a></h4>
              <p class="description">Natural gas currently supplies about 23% of the world’s energy needs. That’s expected to rise to 26% by 2040.
                with global energy demand expected to expand by 25%, Natural gas is a huge opportunity for investors.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bxs-building-house"></i></div>
              <h4 class="title"><a href="">Real Estate</a></h4>
              <p class="description">Real estate trading has a shorter time period during which capital and effort are tied up in a property. Depending on market conditions, there can be significant returns even on this shorter time frame.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= More Services Section ======= -->
   <!-- End More Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>These seperates our services from the others</p>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-lock-password-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Secured Platform</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">High ROI</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-medal-line" style="color: #e80368;"></i>
              <h3><a href="">Guaranteed Returns</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-customer-service-2-line" style="color: #e361ff;"></i>
              <h3><a href="">24/7 Live Support</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Testimony</h2>
          <p>A few of our awesome investors have this to say</p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="200">

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Always wanted a trusted platform to help me put my spare money to good use, Global Aliance came through.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                It took a lot of courage to hit the invest button, but that was a choice i'd never regret
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Need a trusted investment platform with guaranteed returns, Global Aliance it is.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Global Aliance made me make the best use of my money 
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
   <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
   

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Plans</h2>
          <p>Our investment plans are tailored for everyone</p>
        </div>

        <div class="row">
             <div class="col-lg-3 col-md-6">
            <div class="box aos-init aos-animate" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>Global Aliance Plan NEW</h3>
              <h4 style="font-size: 25px;"><sup>$</sup>200 - 499</h6>
              <ul>
                <li>72 Hours</li>
                <li>65% R.O.I + Investment</li>
                <li>10%  Commission</li>
              </ul>
              <div class="btn-wrap">
                <a href="login.html" class="btn-buy">Invest Now</a>
              </div>
            </div>
          </div><br><br>

                     <div class="col-lg-3 col-md-6">
            <div class="box aos-init aos-animate" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>Global Aliance Plan Beginners </h3>
              <h4 style="font-size: 25px;"><sup>$</sup>500 - 2499</h6>
              <ul>
                <li> 7 days</li>
                <li>70% R.O.I + Investment</li>
                <li>10%  Commission</li>
              </ul>
              <div class="btn-wrap">
                <a href="login.html" class="btn-buy">Invest Now</a>
              </div>
            </div>
          </div><br><br>

                     <div class="col-lg-3 col-md-6">
            <div class="box aos-init aos-animate" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>Global Aliance Plan Silver plan </h3>
              <h4 style="font-size: 25px;"><sup>$</sup>2500 - 5999</h6>
              <ul>
                <li> 21 days</li>
                <li>120% R.O.I + Investment</li>
                <li>10%  Commission</li>
              </ul>
              <div class="btn-wrap">
                <a href="login.html" class="btn-buy">Invest Now</a>
              </div>
            </div>
          </div><br><br>

                     <div class="col-lg-3 col-md-6">
            <div class="box aos-init aos-animate" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>Global Aliance Plan Diamond </h3>
              <h4 style="font-size: 25px;"><sup>$</sup>6000 - 14999</h6>
              <ul>
                <li>Unlimited</li>
                <li>150% R.O.I + Investment</li>
                <li>10%  Commission</li>
              </ul>
              <div class="btn-wrap">
                <a href="login.html" class="btn-buy">Invest Now</a>
              </div>
            </div>
          </div><br><br>

                     <div class="col-lg-3 col-md-6">
            <div class="box aos-init aos-animate" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>Global Aliance Plan Platinum</h3>
              <h4 style="font-size: 25px;"><sup>$</sup>15000 - 50000</h6>
              <ul>
                <li></li>
                <li>200% R.O.I + Investment</li>
                <li>10%  Commission</li>
              </ul>
              <div class="btn-wrap">
                <a href="login.html" class="btn-buy">Invest Now</a>
              </div>
            </div>
          </div><br><br>

           
         
       

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Global Aliance</h3>
              <p>
                Global Aliance is a fortune 1000 investment firm with offices in USA, Australia and Russia. We are a dynamic group whose main focus is to provide our clients with the best possible service. 
              </p>
              
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Boston,MA  USA</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>Admin@global-aliance.com </p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+1(508)817-3243</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form class="php-email-form">
             
              <div class="form-group">
                <input type="text" v-model="emailData.senderName" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" v-model="emailData.senderEmail" id="email" placeholder="Your Email" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" v-model="emailData.emailSubject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              </div>
              <div class="form-group">
                <textarea class="form-control" v-model="emailData.message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button v-cloak @click="sendMail" type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Global Aliance</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/Global Aliance-free-bootstrap-template/ -->
           
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="main.js"></script>

</body>

</html>
